# Datascience Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
    1.python 
    2.R-language
    3.SQL

Some of the popular languages that Data Scientists use are:
    1.python 
    2.R-language
    3.SQL

Some of the commonly used libraries used by Data Scientists include:
pandas,numpy,matplotlib,seaborn

| Datascience Tools |
|:-----------------:|
| Jupyter Notebooks |
|Zeppelin Notebooks | 
|     R-Studio      |

In [3]:
### Below are a few examples of evaluating arithmetic expressions in Python
 
answer=3+4
result=10*2
print(answer,result)

7 20

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
hours=200/60
hours

3.3333333333333335

## Author
Rajareddy